.main-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.dog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin: 0 auto;
    margin-top: 50px;
}
.liked-dog{
    background-color: lightskyblue;
    position: sticky;
    top: 0;
}
@media screen and (max-width:1250px) {
    .main-container{
        grid-template-columns: 3fr 1fr;
    }
    .dog-container{
        grid-template-columns: repeat(2, 1fr);
    }
}